*{
    margin: 0px;
    padding: 0px;

}

body{
    margin: 10px;
    background-color: aquamarine;
    font-size: 1.6em;
    font-weight: bold;
    overflow-x: hidden;
   
    
    
   


}
header{ 
   position: sticky;
   top: 0px;
   z-index: 1;
   margin:10px;
   padding: 10px;
   border-radius: 10px;
   background-image: url(https://th.bing.com/th?id=OIP.g8S3mVw2qAB6QJSEvIPLbwHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
   color:rgb(100, 100, 100);
   font-size: larger;



}

section{
  

    margin:10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-image: url(https://th.bing.com/th?id=OIP.g8S3mVw2qAB6QJSEvIPLbwHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);

    


}
.container{
    margin: 10px;
    padding: 10px;
   display: grid;
   grid-template-rows: repeat(3,1fr);
   grid-template-columns: repeat(6,1fr);
    background-image: url(https://th.bing.com/th?id=OIP.g8S3mVw2qAB6QJSEvIPLbwHaEo&w=316&h=197&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);

}

.item{
    margin: 10px;
      background-color: bisque;
      font-family: sans-serif;
      border-radius: 10px;
      text-align: center;
      justify-content: center;
      background-size: cover;
    
    
      
}

.item img{
    width: 100%; /* Cover the entire parent div */
    height: 100%; /* Cover the entire parent div */
    background-size: cover; /* Cover the entire area of the parent div */
    background-position: center;
    border-radius: 10px; /* Center the image within the parent div */
}